.footer-thq-footer1-elm {
  top: 222px;
  left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: #13131f;
}
 
.footer-thq-max-width-elm {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-image {
  width: 140px;
  height: 56px;
  object-fit: cover;
  margin-bottom: 50px;
}
 
.footer-thq-content-elm {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.footer-thq-newsletter-elm {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer-thq-actions-elm {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-thq-form-elm {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
 
.footer-container {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
 
.footer-thq-text-input-elm {
  gap: 8px;
  color: #ffffff;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  border-color: #ffffff;
  background-color: transparent;
}
 
.footer-thq-button-elm {
  border-color: #ffffff;
}
 
.footer-thq-content2-elm {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.footer-thq-links-elm {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.footer-thq-column1-elm {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer-thq-column1-title-elm {
  color: #ffffff;
}
 
.footer-thq-footer-links-elm1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-thq-column2-elm {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer-thq-column2-title-elm {
  color: #ffffff;
}
 
.footer-thq-footer-links-elm2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-thq-column3-elm {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer-thq-social-link1-title-elm {
  color: #ffffff;
}
 
.footer-thq-social-links-elm {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-thq-link-elm1 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer-icon10 {
  fill: #D9D9D9;
}
 
.footer-thq-link-elm2 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer-icon12 {
  fill: #D9D9D9;
}
 
.footer-thq-link-elm3 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer-icon14 {
  fill: #D9D9D9;
}
 
.footer-thq-link-elm4 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer-icon16 {
  fill: #D9D9D9;
}
 
.footer-thq-link-elm5 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer-icon18 {
  fill: #D9D9D9;
}
 
.footer-thq-credits-elm {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
 
.footer-thq-divider-elm {
  background-color: #ffffff;
}
 
.footer-thq-row-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
 
.footer-thq-footer-links-elm3 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer-text10 {
  display: inline-block;
}
 
.footer-text11 {
  display: inline-block;
}
 
.footer-text12 {
  display: inline-block;
}
 
.footer-text13 {
  display: inline-block;
}
 
.footer-text14 {
  display: inline-block;
}
 
.footer-text15 {
  display: inline-block;
}
 
.footer-text16 {
  display: inline-block;
}
 
.footer-text17 {
  display: inline-block;
}
 
.footer-text18 {
  display: inline-block;
}
 
.footer-text19 {
  display: inline-block;
}
 
.footer-text20 {
  display: inline-block;
}
 
.footer-text21 {
  display: inline-block;
}
 
.footer-text22 {
  display: inline-block;
}
 
.footer-text23 {
  display: inline-block;
}
 
.footer-text24 {
  display: inline-block;
}
 
.footer-text25 {
  display: inline-block;
}
 
.footerroot-class-name {
  top: 2975px;
  left: 0px;
  position: absolute;
}
 
@media(max-width: 991px) {
  .footer-thq-newsletter-elm {
    width: 300px;
  }
  .footer-thq-form-elm {
    width: 100%;
    flex-direction: column;
  }
  .footer-container {
    width: 100%;
  }
  .footer-thq-text-input-elm {
    width: 100%;
    padding: var(--dl-layout-space-halfunit);
  }
  .footer-thq-button-elm {
    width: 100%;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
}
 
@media(max-width: 767px) {
  .footer-thq-content-elm {
    flex-direction: column;
  }
  .footer-thq-newsletter-elm {
    width: 100%;
  }
  .footer-thq-form-elm {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-container {
    width: 100%;
  }
  .footer-thq-button-elm {
    width: 208px;
  }
  .footer-thq-links-elm {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-thq-column1-elm {
    align-items: center;
  }
  .footer-thq-column1-title-elm {
    text-align: center;
  }
  .footer-thq-footer-links-elm1 {
    align-self: center;
  }
  .footer-thq-column2-elm {
    align-items: center;
  }
  .footer-thq-column2-title-elm {
    text-align: center;
  }
  .footer-thq-footer-links-elm2 {
    align-self: center;
  }
  .footer-thq-column3-elm {
    align-items: center;
  }
  .footer-thq-social-link1-title-elm {
    text-align: center;
  }
  .footer-thq-social-links-elm {
    align-self: center;
  }
  .footer-thq-row-elm {
    gap: var(--dl-layout-space-unit);
    flex-direction: column;
    justify-content: flex-start;
  }
}
 
@media(max-width: 479px) {
  .footer-thq-actions-elm {
    width: 100%;
  }
  .footer-thq-form-elm {
    width: 100%;
    flex-direction: column;
  }
  .footer-container {
    width: 100%;
  }
  .footer-thq-button-elm {
    width: 100%;
  }
  .footer-thq-links-elm {
    flex-direction: column;
  }
  .footer-thq-column1-elm {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-thq-footer-links-elm1 {
    align-items: center;
    justify-content: center;
  }
  .footer-thq-column2-elm {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-thq-footer-links-elm2 {
    align-items: center;
    justify-content: center;
  }
  .footer-thq-column3-elm {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-thq-social-links-elm {
    align-items: center;
    justify-content: center;
  }
  .footer-thq-credits-elm {
    gap: var(--dl-layout-space-unit);
  }
  .footer-thq-row-elm {
    align-items: center;
    justify-content: center;
  }
  .footer-thq-footer-links-elm3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
