.how-it-works-container1 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.how-it-works-container2 {
  display: none;
}
 
.how-it-works-container3 {
  display: contents;
}
 
.how-it-works-thq-lost-found-section-elm {
  height: 615px;
}
 
.how-it-works-container4 {
  display: none;
}
 
.how-it-works-container5 {
  display: contents;
}
 
.how-it-works-text13 {
  display: inline-block;
}
 
.how-it-works-text14 {
  display: inline-block;
}
 
.how-it-works-text15 {
  display: inline-block;
}
 
.how-it-works-text16 {
  display: inline-block;
}
 
.how-it-works-text17 {
  display: inline-block;
}
 
.how-it-works-text18 {
  display: inline-block;
}
 
.how-it-works-text19 {
  display: inline-block;
}
 
.how-it-works-text20 {
  display: inline-block;
}
 
.how-it-works-text21 {
  display: inline-block;
}
 
.how-it-works-text22 {
  display: inline-block;
}
 
.how-it-works-text23 {
  display: inline-block;
}
 
.how-it-worksroot-class-name {
  top: 765px;
  left: 0px;
  bottom: 0px;
  position: absolute;
}
