.navbar-container1 {
  width: 100%;
  height: 0px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  flex-direction: column;
}
 
.navbar-icon10 {
  width: 49px;
  height: 32px;
}
 
.navbar-image {
  width: 111px;
  height: 40px;
  object-fit: cover;
}
 
.navbar-thq-nav-link-elm2 {
  text-decoration: none;
}
 
.navbar-container2 {
  display: none;
}
 
.navbar-container3 {
  display: contents;
}
 

 
.navbarroot-class-name1 {
  top: 0px;
  left: 0px;
  position: absolute;
}
